@import "/portal/cms_docs_iportals/iportals/global/css/ieeestyles.css";

BODY A {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
	color: #006699;
	line-height: 13px;
}

#mainContent h1
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #006699;
	text-decoration: none;
	font-weight: bolder;
	line-height: 18px
}

#mainContent h2
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	font-weight: bolder;
	line-height: 18px
	margin-bottom: 5px;
}

#introContent 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	line-height: 16px;
}

#introContent TD
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	line-height: 16px;
}

.moduleWrapperScrollSmall {
	border:1px solid #000000;
	height:200px;
	margin-bottom:15px;
	margin-top:8px;
	overflow:auto;
	padding:2px !important;
	width:98%;
}

#moduleWrapper h2
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #CC6600;
	margin-bottom: 5px;
}

#moduleWrapper h3
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #CC6600;
	margin-bottom: 5px;
}

#moduleWrapper h4
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #CC6600;
	margin-bottom: 5px;
}

#moduleWrapper h5
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #CC6600;
	margin-bottom: 5px;
}

#moduleWrapper .moduleText TD
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	line-height: 15px;
}

#moduleWrapper .bodycopyblacklargespaced
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	line-height: 15px;
}

#moduleWrapper .bodycopyblacklargespaced A
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
}

#moduleWrapper li
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
}

#moduleWrapper li A
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
}


.moduleText
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	line-height: 15px;
}

.moduleText A
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
}

.headline {
	POSITION: relative; 
	PADDING-RIGHT: 20px; 
	PADDING-LEFT: 20px; 
	TOP: 10px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	LEFT: 0px; 
	COLOR: #000000; 
	LINE-HEIGHT: 150%; 
	FONT-FAMILY: "Trebuchet", Verdana, Arial;
}

.eventdetails {
	font-family: "Trebuchet", Verdana, Arial;
	font-size: 11px;
	color: #000000;
	font-weight: lighter;
}

.morelink, a.morelink:link, a.morelink:active, a.more:visited {
	font-family: "Trebuchet", Verdana, Arial;
	font-size: 10px;
	font-weight:bold;
	color: #006699 ;
	text-decoration: none;
}
.morelink:hover{
	font-family: "Trebuchet", Verdana, Arial;
	font-size: 10px;
	font-weight:bold;
	color: #006699 ;
	text-decoration: underline;
}

.morelink a:hover{
	font-family: "Trebuchet", Verdana, Arial;
	font-size: 10px;
	font-weight:bold;
	color: #006699 ;
	text-decoration: underline;
}

.morearrow {
	font-family: "Trebuchet", Verdana, Arial;
	font-size: 10px;
	font-weight:bold;
	color: #ff8329 ;
}

.bulletlist {
	font-family: "Trebuchet", Verdana, Arial;
	font-size: 10px;
	color: #006699;
	list-style-image: url(/portal/cms_docs_iportals/iportals/global/images/top-orange-button.gif);
	line-height: 200%;
	font-weight: bold;
	display: inline;
}

.bulletlist a {
	font-family: "Trebuchet", Verdana, Arial;
	font-size: 10px;
	color: #006699;
	line-height: 200%;
	font-weight: bold;
	text-decoration: none;
}

.bulletlist a:hover {
	font-family: "Trebuchet", Verdana, Arial;
	font-size: 10px;
	font-weight:bold;
	line-height: 200%;
	color: #006699 ;
	text-decoration: underline;
}

.bodyCopyBlackLarge {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}

.bodyCopyBlackLargeSpaced {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	line-height: 15px;
}

.bookstd {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
	font-weight: bold;
	color: #006699;
	background-color: #D8D8D8;
	left: 5px;
}

.modulehedleftcol {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #006699;
	left: 5px;
}

.leftnav {
	font-family:arial,helvetica,sans-serif;
	font-size:11px;
	font-weight:normal;
	background-color:#006699;
	padding:0px;
	border-style:solid;
	border-width:1px 0px 0px 0px;
	border-color:#006699;
}

a.snav,a.snav:link,a.snav:active,a.snav:visited {
    color: #006699;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	FONT-WEIGHT: normal;
}

.leftnav_primary_item {
	color:#006699;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-left:4px;
}